﻿@{
    ViewBag.Title = "Dział Ewidencji Ludności - zestawienia danych";
}

<h1 class="heading-bg p-1 mb-3">Zestawienia danych</h1>

<div class="row justify-content-between">
    <div class="col-lg-12 col-12 p-4 py-0">
        <div class="row justify-content-around">

            <a href="@Url.Action("Type1", "Chart")" class="col-lg-5 col-12 p-3 my-3 portal-box bg-pic-2 blockLink">
                <h1 class="mt-4">Według wieku</h1>
                <hr />
                <h6 class="mb-5">Wykres słupkowy, przedstawiający relację wieku i liczby ludności.</h6>
            </a>
            <a href="@Url.Action("Type2", "Chart")" class="col-lg-5 col-12 p-3 my-3 portal-box bg-pic-7 blockLink">
                <h1 class="mt-4">Przyrost naturalny</h1>
                <hr />
                <h6 class="mb-5">Liczba urodzeń i zgonów według wieku - wykres słupkowy.</h6>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-12 px-md-5 py-md-3">
        <div class="col-lg-1 col-0"></div>
        <a href="@Url.Action("Type3", "Chart")" class="col-lg-12 col-12 p-3 my-3 portal-box bg-pic-6 blockLink">
            <h1 class="mt-4">Społeczeństwo</h1>
            <hr />
            <h6 class="mb-5">Ogólne zestawienie na temat ludności.</h6>
        </a>
        <div class="col-lg-1 col-0"></div>

    </div>
</div>
