﻿@using DEL.UI.Models
@model ChartModel
@{
    ViewBag.Title = "Dział Ewidencji Ludności - zestawienia danych";
}

<h1 class="heading-bg p-1 mb-3">Zestawienie ludności według wieku</h1>

<canvas id="chart" width="500" height="250"></canvas>
<hr />
<a id="link" class="btn btn-lg btn-outline-danger mb-5 w-100"><i class="fas fa-download"></i> Zapisz wykres do pliku</a>

<script src="~/Content/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Encode(Model.AgeArray)),
            datasets: [{
                label: 'Liczba ludności',
                data: @Html.Raw(Json.Encode(Model.PopulationByAge)),
                borderWidth: 1
            }]
        },
        options: {
            animation: {
                duration: 0 // general animation time
            },
            hover: {
                animationDuration: 0 // duration of animations when hovering an item
            },
            responsiveAnimationDuration: 0, // animation duration after a resize
            scales: {
                
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    setTimeout(function () {
        var canvas = document.getElementById('chart');
        var link = document.getElementById('link');
        link.href = canvas.toDataURL();
        link.download = "zestawienie.png";
    }, 2000);
</script>