﻿@using DEL.UI.Models
@model ChartModel
@{
    ViewBag.Title = "Dział Ewidencji Ludności - zestawienia danych";
}

<h1 class="heading-bg p-1 mb-3">Przyrost naturalny</h1>

<canvas id="chart" width="500" height="250"></canvas>
<hr />
<a id="link" class="btn btn-lg btn-outline-danger mb-5 w-100"><i class="fas fa-download"></i> Zapisz wykres do pliku</a>

<script src="~/Content/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: @Html.Raw(Json.Encode(Model.YearArray)),
            datasets: [{
                label: 'Urodzenia',
                data: @Html.Raw(Json.Encode(Model.BirthsByYear)),
                fill: false,
                borderColor: 'rgba(46, 204, 64, 1)'
            },
            {
                label: 'Zgony',
                data: @Html.Raw(Json.Encode(Model.DeathsByYear)),
                fill: false,
                borderColor: 'rgba(212, 33, 61, 1)'
            }]
        },
        options: {
            animation: {
                duration: 0
            },
            hover: {
                animationDuration: 0
            },
            responsiveAnimationDuration: 0,
            scales: {

                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    setTimeout(function () {
        var canvas = document.getElementById('chart');
        var link = document.getElementById('link');
        link.href = canvas.toDataURL();
        link.download = "zestawienie.png";
    }, 2000);
</script>