﻿@using DEL.UI.Models
@model ChartModel
@{
    ViewBag.Title = "Dział Ewidencji Ludności - zestawienia danych";
}

<h1 class="heading-bg p-1 mb-3">Zestawienie danych o społeczeństwie</h1>

<div class="row mb-3">
    <div class="col-lg-4 col-12">
        <canvas id="chart1" width="500" height="500"></canvas>
    </div>
    <div class="col-lg-4 col-12">
        <canvas id="chart2" width="500" height="500"></canvas>
    </div>
    <div class="col-lg-4 col-12">
        <canvas id="chart3" width="500" height="500"></canvas>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-lg-4 col-12">
        <a id="link1" class="btn btn-lg btn-outline-danger mb-5 w-100"><i class="fas fa-download"></i> Zapisz wykres do pliku</a>
    </div>
    <div class="col-lg-4 col-12">
        <a id="link2" class="btn btn-lg btn-outline-danger mb-5 w-100"><i class="fas fa-download"></i> Zapisz wykres do pliku</a>
    </div>
    <div class="col-lg-4 col-12">
        <a id="link3" class="btn btn-lg btn-outline-danger mb-5 w-100"><i class="fas fa-download"></i> Zapisz wykres do pliku</a>
    </div>
</div>

<script src="~/Content/Chart.min.js"></script>
<script>
    var ctx1 = document.getElementById('chart1').getContext('2d');
    var ctx2 = document.getElementById('chart2').getContext('2d');
    var ctx3 = document.getElementById('chart3').getContext('2d');

    var chart1 = new Chart(ctx1, {
        type: 'doughnut',
        data: {
            labels: ["Mężczyźni", "Kobiety"],
            datasets: [{
                data: [@Model.Males, @Model.Females],
                borderColor: 'rgba(255, 255, 255, 1)',
                borderWidth: 2,
                backgroundColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
            }]
        }
    });

        var chart2 = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: ["Wolni", "W związku"],
            datasets: [{
                data: [@Model.Free, @Model.Married],
                borderColor: 'rgba(255, 255, 255, 1)',
                borderWidth: 2,
                backgroundColor: [
                    'rgba(57, 204, 204, 1)',
                    'rgba(177, 13, 201, 1)'
                ],
            }]
        }
    });

        var chart3 = new Chart(ctx3, {
        type: 'doughnut',
        data: {
            labels: ["<18 lat", "18-65 lat", ">65 lat"],
            datasets: [{
                data: [@Model.Young, @Model.Middle, @Model.Old],
                borderColor: 'rgba(255, 255, 255, 1)',
                borderWidth: 2,
                backgroundColor: [
                    'rgba(46, 204, 64, 1)',
                    'rgba(255, 220, 0, 1)',
                    'rgba(255, 133, 27, 1)'
                ],
            }]
        }
    });

    setTimeout(function () {
        var canvas1 = document.getElementById('chart1');
        var canvas2 = document.getElementById('chart2');
        var canvas3 = document.getElementById('chart3');
        var link1 = document.getElementById('link1');
        link1.href = canvas1.toDataURL();
        link1.download = "zestawienie.png";
        var link2 = document.getElementById('link2');
        link2.href = canvas2.toDataURL();
        link2.download = "zestawienie.png";
        var link3 = document.getElementById('link3');
        link3.href = canvas2.toDataURL();
        link3.download = "zestawienie.png";
    }, 2000);
</script>