﻿@using DEL.UI.Models
@model Entry
@{
    ViewBag.Title = "Dział Ewidencji Ludności - pobierz akt urodzenia";
}

<h1 class="heading-bg p-1 mb-3">Pobieranie odpisu aktu urodzenia</h1>

<p>Kliknij poniższy przycisk, aby pobrać wygenerowany odpis aktu urodzenia.</p>

<a href="@Url.Action("SaveBirthCert", Model)" class="btn btn-lg btn-outline-danger"><i class="fas fa-download"></i> Pobierz</a>