﻿@using DEL.UI.Models
@model Entry
@{
    ViewBag.Title = "Dział Ewidencji Ludności - pobierz akt zgonu";
}

<h1 class="heading-bg p-1 mb-3">Pobieranie odpisu aktu zgonu</h1>

<p>Kliknij poniższy przycisk, aby pobrać wygenerowany odpis aktu zgonu.</p>

<a href="@Url.Action("SaveDeathCert", Model)" class="btn btn-lg btn-outline-danger"><i class="fas fa-download"></i> Pobierz</a>