﻿@{
    ViewBag.Title = "Dział Ewidencji Ludności - generowanie dokumentów";
}

<h1 class="heading-bg p-1 mb-3">Wyszukiwarka wpisów osobowych</h1>

<form method="post" action="@Url.Action("Results", "Document")">
    <label for="searchString">Wpisz imię, nazwisko lub numer PESEL szukanej osoby.</label>
    <input type="text" name="searchString" id="searchString" class="form-control" />
    <button type="submit" class="btn btn-lg btn-outline-danger float-right mt-4"><i class="fas fa-search"></i> Wyszukaj</button>
</form>