/* Sticky footer styles
-------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@font-face {
    font-family: 'Libel';
    src: url('libel-suit-rg.ttf') format('truetype')
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Montserrat, sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Libel;
}

hr {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border-top: 6px solid #B4011D;
}

input[type=radio] {
    padding-right: 10px;
    transform: scale(1.5);
}

input[type=checkbox] {
    padding-right: 10px;
    transform: scale(1.5);
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 130px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-brand {
    font-size: 1.5rem;
}

.bg-poland-red {
    background-color: #D4213D;
    color: #e9e8e7;
}

.header-logo {
    max-height: 90px;
}

.heading-bg {
    background-image: linear-gradient(to right, rgba(212, 33, 61, 0) 0%, rgba(212, 33, 61, 0) 20%, rgba(212, 33, 61, 1) 100%);
    border-bottom: 3px solid rgba(212, 33, 61, 0.8);
}

.portal-box {
    border: 4px solid #B4011D;
    border-radius: 15px;
    background-color: #D4213D;
}

.portal-box * {
    //border-left: 3px solid #E9E8E7;
    //padding-left: 10px;
    color: #E9E8E7;
}

.bg-pic-1 {
    background-image: url('img/database.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom 10% right 10%;
}

.bg-pic-2 {
    background-image: url('img/chart-bar.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom 10% right 10%;
}

.bg-pic-3 {
    background-image: url('img/file-alt.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom 10% right 10%;
}

.bg-pic-4 {
    background-image: url('img/plus-square.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom 10% right 10%;
}

.bg-pic-5 {
    background-image: url('img/edit.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom 10% right 10%;
}

.bg-pic-6 {
    background-image: url('img/chart-pie.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom 10% right 10%;
}

.bg-pic-7 {
    background-image: url('img/chart-line.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: bottom 10% right 10%;
}

.blockLink {
    display: block;
}

.blockLink:hover {
    text-decoration: none;
}