﻿@model DEL.UI.Models.Entry

@using (var form = Html.BeginForm("Add", "Entry", FormMethod.Post))
{
    if (Model != null)
    {
        @Html.HiddenFor(x => x.Id)
    }

    <h3 class="heading-bg p-1 mb-3">Podstawowe dane</h3>

    <div class="row">
        <div class="form-group col-md-6 col-12">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6 col-12">
            @Html.LabelFor(x => x.Name2)
            @Html.TextBoxFor(x => x.Name2, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name2, null, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Surname)
        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Surname, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.FamilySurname)
        @Html.TextBoxFor(x => x.FamilySurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FamilySurname, null, new { @class = "text-danger" })
    </div>

    <div class="row">
        <div class="form-group col-md-6 col-12">
            @Html.LabelFor(x => x.DateOfBirth)
            @Html.TextBoxFor(x => x.DateOfBirth, new { @class = "form-control", @Value = (Model == null ? DateTime.Today.ToString("dd/MM/yyyy") : (Model.DateOfBirth.Year == 1 ? DateTime.Today.ToString("dd/MM/yyyy") : Model.DateOfBirth.ToString("dd/MM/yyyy"))), @id = "datepickerBirth" })
            @Html.ValidationMessageFor(x => x.DateOfBirth, null, new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-6 col-12">
            @Html.LabelFor(x => x.PlaceOfBirth)
            @Html.TextBoxFor(x => x.PlaceOfBirth, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PlaceOfBirth, null, new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Gender)<br />
        <div class="form-check">
            @Html.RadioButtonFor(x => x.Gender, 0, new { Checked = "checked", @class = "form-check-input" })
            <div class="form-check-label"> Mężczyzna</div>
            @Html.RadioButtonFor(x => x.Gender, 1, new { @class = "form-check-input" })
            <div class="form-check-label"> Kobieta</div>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-md-6 col-12">
            @Html.LabelFor(x => x.PeselNumber)
            @Html.TextBoxFor(x => x.PeselNumber, new { @class = "form-control", maxlength = 11 })
            @Html.ValidationMessageFor(x => x.PeselNumber, null, new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6 col-12">
            @Html.LabelFor(x => x.IdCardNumber)
            @Html.TextBoxFor(x => x.IdCardNumber, new { @class = "form-control", maxlength = 9 })
            @Html.ValidationMessageFor(x => x.IdCardNumber, null, new { @class = "text-danger" })
        </div>
    </div>

    <h3 class="heading-bg p-1 mb-3">Związki rodzinne</h3>

    <div class="form-group">
        @Html.LabelFor(x => x.MotherId)
        @Html.DropDownList("femaleList", ViewBag.FemaleList as SelectList, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MotherId, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.FatherId)
        @Html.DropDownList("maleList", ViewBag.MaleList as SelectList, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.FatherId, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <div class="form-check">
            @Html.CheckBoxFor(x => x.Married, new { @class = "form-check-input" })
            @Html.LabelFor(x => x.Married)
            @Html.ValidationMessageFor(x => x.Married, null, new { @class = "text-danger" })
        </div>
    </div>

    <div id="spouse-div">
        <div class="form-group">
            @Html.LabelFor(x => x.SpouseId)
            @Html.DropDownList("spouseList", ViewBag.SpouseList as SelectList, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.SpouseId, null, new { @class = "text-danger" })
        </div>
    </div>

    <h3 class="heading-bg p-1 mb-3">Dane o zgonie</h3>
    <div class="form-group">
        <div class="form-check">
            @Html.CheckBoxFor(x => x.Death, new { @class = "form-check-input" })
            @Html.LabelFor(x => x.Death)
            @Html.ValidationMessageFor(x => x.Death, null, new { @class = "text-danger" })
        </div>
    </div>

    <div id="death-div">
        <div class="row">
            <div class="form-group col-md-6 col-12">
                @Html.LabelFor(x => x.DateOfDeath)
                @Html.TextBoxFor(x => x.DateOfDeath, new { @class = "form-control", @Value = (Model == null ? DateTime.Today.ToString("dd/MM/yyyy") : (Model.DateOfDeath == null ? "" : (Model.DateOfDeath.Value.Year == 1 ? DateTime.Today.ToString("dd/MM/yyyy") : Model.DateOfDeath.Value.ToString("dd/MM/yyyy")))), @id = "datepickerDeath" })
                @Html.ValidationMessageFor(x => x.DateOfDeath, null, new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-6 col-12">
                @Html.LabelFor(x => x.PlaceOfDeath)
                @Html.TextBoxFor(x => x.PlaceOfDeath, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.PlaceOfDeath, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div id="death-div-2">
        <h3 class="heading-bg p-1 mb-3">Dane adresowe</h3>

        <div class="form-group">
            @Html.LabelFor(x => x.AddressCity)
            @Html.TextBoxFor(x => x.AddressCity, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.AddressCity, null, new { @class = "text-danger" })
        </div>

        <div class="row">
            <div class="form-group col-md-6 col-12">
                @Html.LabelFor(x => x.AddressPostalCode)
                @Html.TextBoxFor(x => x.AddressPostalCode, new { @class = "form-control", maxlength = 6 })
                @Html.ValidationMessageFor(x => x.AddressPostalCode, null, new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-6 col-12">
                @Html.LabelFor(x => x.AddressPostalCity)
                @Html.TextBoxFor(x => x.AddressPostalCity, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.AddressPostalCity, null, new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-4 col-12">
                @Html.LabelFor(x => x.AddressStreetName)
                @Html.TextBoxFor(x => x.AddressStreetName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.AddressStreetName, null, new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4 col-12">
                @Html.LabelFor(x => x.AddressHouseNumber)
                @Html.TextBoxFor(x => x.AddressHouseNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.AddressHouseNumber, null, new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4 col-12">
                @Html.LabelFor(x => x.AddressAptNumber)
                @Html.TextBoxFor(x => x.AddressAptNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.AddressAptNumber, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <button class="btn btn-lg btn-outline-danger float-right mb-5 clearfix" type="submit"><i class="fas fa-save"></i> Zapisz</button>
    <div class="my-5" style="min-height: 2rem;"></div>
}