﻿@model DEL.UI.Models.Entry

@{
    ViewBag.Title = "Dział Ewidencji Ludności - usuwanie wpisu";
}

<h1 class="heading-bg p-1 mb-3">Usuwanie wpisu osobowego</h1>

<p>Czy na pewno chcesz usunąć wpis osoby <span class="font-weight-bold">@Model.Name @Model.Name2 @Model.Surname</span> o numerze PESEL <span class="font-weight-bold">@Model.PeselNumber</span>?</p>
<p class="text-danger font-weight-bold">UWAGA! Dane zostaną utracone bezpowrotnie!</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="btn btn-lg btn-outline-danger float-right" type="submit"><i class="fas fa-trash-alt"></i> Usuń wpis</button>
    </div>
}