﻿@model DEL.UI.Models.Entry

@{
    ViewBag.Title = "Dział Ewidencji Ludności - zarządzanie wpisem osobowym";
}

<h1 class="heading-bg p-1 mb-3">Zarządzanie wpisem osobowym</h1>
<h2 class="heading-bg p-1 mb-3">Edycja wpisu</h2>

@Html.Partial("AddEditPartial", Model)

<h2 class="heading-bg p-1 mb-3 mt-5">Usuwanie wpisu</h2>

<a href="@Url.Action("Delete", Model)" class="btn btn-lg btn-danger mb-5"><i class="fas fa-trash-alt"></i> Usuń wpis</a>