﻿@{
    ViewBag.Title = "Dział Ewidencji Ludności - zarządzanie wpisami";
}

<h1 class="heading-bg p-1 mb-3">Zarządzanie bazą danych</h1>

<div class="row justify-content-between">
    <div class="col-lg-12 col-12 p-4 py-0">
        <div class="row justify-content-around">
            <a href="@Url.Action("Add", "Entry")" class="col-lg-5 col-12 p-3 my-3 portal-box bg-pic-4 blockLink">
                <h1 class="mt-4">Dodaj wpis</h1>
                <hr />
                <h6 class="mb-5">Dodaj nowy wpis osobowy.</h6>
            </a>
            <a href="@Url.Action("Search", "Entry")" class="col-lg-5 col-12 p-3 my-3 portal-box bg-pic-5 blockLink">
                <h1 class="mt-4">Zarządzaj wpisem</h1>
                <hr />
                <h6 class="mb-5">Wyszukaj wpis, edytuj go lub usuń.</h6>
            </a>
        </div>
    </div>
</div>