﻿@using DEL.UI.Models
@model List<Entry>
@{
    ViewBag.Title = "Dział Ewidencji Ludności - wyniki wyszukiwania";
}

<h1 class="heading-bg p-1 mb-3">Wyniki wyszukiwania</h1>

<table class="table table-striped align-middle mb-5">
    <thead>
        <tr>
            <th scope="col">Nazwisko</th>
            <th scope="col">Imię (imiona)</th>
            <th scope="col">Numer PESEL</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
        <tr>
            <td class="align-middle">@entry.Surname</td>
            <td class="align-middle">@entry.Name @entry.Name2</td>
            <td class="align-middle">@entry.PeselNumber</td>
            <td class="align-middle"><a href="@Url.Action("Edit", entry)" class="btn btn-outline-danger w-100"><i class="fas fa-user-edit"></i> Zarządzaj wpisem</a></td>
        </tr>
        }
    </tbody>
</table>