﻿@model DEL.UI.Models.News

@using (var form = Html.BeginForm("Add", "News", FormMethod.Post))
{
    if (Model != null)
    {
        @Html.HiddenFor(x => x.Id)
    }

    <h1 class="heading-bg p-1 mb-3">Dodawanie wiadomości</h1>

    <div class="form-group">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Text)
        @Html.TextAreaFor(x => x.Text, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Text, null, new { @class = "text-danger" })
    </div>

    <button class="btn btn-lg btn-outline-danger float-right mb-5 clearfix" type="submit"><i class="fas fa-save"></i> Zapisz</button>
    <div class="my-5" style="min-height: 2rem;"></div>
}