﻿@model DEL.UI.Models.News

@{
    ViewBag.Title = "Dział Ewidencji Ludności - usuwanie wiadomości";
}

<h1 class="heading-bg p-1 mb-3">Usuwanie wiadomości</h1>

<p>Czy na pewno chcesz usunąć wpis <span class="font-weight-bold">@Model.Title</span> osoby <span class="font-weight-bold">@Model.Author</span>?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <button class="btn btn-lg btn-outline-danger float-right" type="submit"><i class="fas fa-trash-alt"></i> Usuń wiadomość</button>
    </div>
}