﻿@using DEL.UI.Models
@model List<News>
@{
    Layout = null;
}

@if (Model.Count != 0)
{
    <h1 class="heading-bg p-1 mb-3">Wiadomości</h1>
}

@foreach (var entry in Model)
{
    <h4 class="heading-bg p-1 mb-3">@entry.Title <a href="@Url.Action("Delete", "News", entry)" class="btn btn-outline-light float-right"><i class="fas fa-trash-alt"></i></a></h4>

    <p>Autor: <span class="font-weight-bold">@entry.Author</span></p>
    <p>Opublikowano: <span class="font-weight-bold">@entry.Date</span></p>
    <p>@entry.Text</p>
    
    <div class="pb-3"></div>
}