﻿<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/favicon.ico">

    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/fa/css/all.min.css" rel="stylesheet">
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top bg-poland-red">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand font-weight-bold">
                <img alt="Dział Ewidencji ludności" src="@Url.Content("~/Content/img/logo.png")" class="header-logo">
            </a>
            <a href="@Url.Action("Add", "News" )" class="btn btn-lg btn-outline-light ml-auto"><i class="fas fa-plus-square"></i> Dodaj wiadomość</a>
            <a href="@Url.Action("Logoff", "Login")" class="btn btn-lg btn-outline-light ml-3"><i class="fas fa-sign-out-alt"></i> Wyloguj</a>
        </nav>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted text-center"><span class="font-weight-bold">&copy; 2019</span> Dział Ewidencji Ludności | ul. Statystyczna 1, 00-999 Warszawa</span>
        </div>
    </footer>


    <script src="~/Content/jquery-3.4.1.min.js"></script>
    <script src="~/Content/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Content/jquery-3.4.1.min.js"><\/script>')</script>
    <script src="~/Content/popper.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
   

    <script>
        $(function () {
            $("#datepickerBirth, #datepickerDeath").datepicker({
                dateFormat: "dd.mm.yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-120:+0"
            });
        });

        $(function () {
            $('#Death').change(function () {
                $('#death-div').toggle(this.checked);
            }).change();
        });

        $(function () {
            $('#Death').change(function () {
                $('#death-div-2').toggle(!this.checked);
            }).change();
        });

        $(function () {
            $('#Married').change(function () {
                $('#spouse-div').toggle(this.checked);
            }).change();
        });
    </script>
</body>