﻿@model DEL.UI.Models.Login

@{
    Layout = null;
    ViewBag.Title = "Dział Ewidencji Ludności - logowanie";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/favicon.ico">
    <title>Dział Ewidencji Ludności</title>

    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/fa/css/all.min.css" rel="stylesheet">
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Content/site.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top bg-poland-red">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand font-weight-bold">
                <img alt="Dział Ewidencji ludności" src="@Url.Content("~/Content/img/logo.png")" class="header-logo">
            </a>
        </nav>
    </header>

    <main role="main" class="container">
        <h1 class="heading-bg p-1 mb-3">Logowanie</h1>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, "Nazwa użytkownika")
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, "Hasło", htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-outline-danger btn-block"><i class="fas fa-sign-in-alt"></i> Zaloguj się</button>
            </div>
        }
    </main>

    <footer class="footer">
        <div class="container">
            <span class="text-muted text-center"><span class="font-weight-bold">&copy; 2019</span> Dział Ewidencji Ludności | ul. Statystyczna 1, 00-999 Warszawa</span>
        </div>
    </footer>

    <script src="~/Content/jquery-3.4.1.min.js"></script>
    <script src="~/Content/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Content/jquery-3.4.1.min.js"><\/script>')</script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
</body>