﻿@using DEL.UI.Models
@model List<News>
@{
    ViewBag.Title = "Dział Ewidencji Ludności";
}

<div class="row">
    <div class="col-lg-12 col-12 px-md-5 py-md-3">
        <div class="col-lg-1 col-0"></div>

        <a href="@Url.Action("Index", "Entry")" class="col-lg-12 col-12 p-3 my-3 portal-box bg-pic-1 blockLink">
            <h1 class="mt-4">Wpisy osobowe</h1>
            <hr />
            <h6 class="mb-5">Zarządzaj bazą danych obywateli.</h6>
        </a>
        <div class="col-lg-1 col-0"></div>

    </div>
</div>
<div class="row justify-content-between">
    <div class="col-lg-12 col-12 p-4 py-0">
        <div class="row justify-content-around">
            <a href="@Url.Action("Index", "Chart")" class="col-lg-5 col-12 p-3 my-3 portal-box bg-pic-2 blockLink">
                <h1 class="mt-4">Zestawienia danych</h1>
                <hr />
                <h6 class="mb-5">Generuj wykresy na temat stanu ludności.</h6>
            </a>
            <a href="@Url.Action("Index", "Document")" class="col-lg-5 col-12 p-3 my-3 portal-box bg-pic-3 blockLink">
                <h1 class="mt-4">Dokumenty</h1>
                <hr />
                <h6 class="mb-5">Wystawiaj odpisy aktów urzędowych.</h6>
            </a>
        </div>
    </div>
</div>

@Html.Partial("../News/NewsListPartial")